<div class="container">
    <div class="form-wrapper" [hidden]="submitted">
        <h1>Log in</h1>
        <form [formGroup]="loginForm" *ngIf="active" (ngSubmit)="loginUser($event)">
            <div *ngIf= "loginFail" class="alert alert-danger">User Id or Password is invalid!</div>
            <div class="form-group">
                <label *ngIf="!formErrors.email" for="email">E-mail</label>
                 <div *ngIf="formErrors.email" class="alert alert-danger">
                    {{ formErrors.email }}
                </div>
                <input type="text" id="email" class="form-control" formControlName="email" required />
            </div>

            <div class="form-group">
                <label *ngIf="!formErrors.password" for="password">Password</label>
                <div *ngIf="formErrors.password" class="alert alert-danger">
                    {{ formErrors.password }}
                </div>
                <input type="password" id="password" class="form-control" formControlName="password" required />
            </div>

            <div class="form-group">
                    <label for="buildingName">Building name</label>
                    <div *ngIf="formErrors.buildingName" class="alert alert-danger">
                    {{ formErrors.buildingName }}
                    </div>
                    <input type="text" id="buildingName" class="form-control" formControlName="buildingName" />
                </div>

                <div class="form-group">
                    <label for="roomNumber">Room Number</label>
                    <div *ngIf="formErrors.roomNumber" class="alert alert-danger">
                    {{ formErrors.roomNumber }}
                    </div>
                    <input type="number" id="roomNumber" class="form-control" formControlName="roomNumber" />
                </div>

                <div class="form-group">
                    <label for="city">City</label>
                    <div *ngIf="formErrors.city" class="alert alert-danger">
                    {{ formErrors.city }}
                    </div>
                    <input id="city" class="form-control" type="text" formControlName="city" />
                </div>

                <div class="form-group">
                    <label for="state">State</label>
                    <div *ngIf="formErrors.state" class="alert alert-danger">
                    {{ formErrors.state }}
                    </div>
                    <input type="text" class="form-control" id="state" formControlName="state" />
                </div>

                <div class="form-group">
                    <label for="pin">PIN</label>
                    <div *ngIf="formErrors.pin" class="alert alert-danger">
                    {{ formErrors.pin }}
                    </div>
                    <input type="number" class="form-control" id="pin" formControlName="pin" />
                </div>


            <button type="submit" class="btn margin-right btn-default" [disabled]="!loginForm.valid">Submit</button>
            <button type="button" (click)="resetForm()" class="btn btn-default">Cancel</button>
        </form>
    </div>
</div>